.checkout-steps > div{
    border-top:0.3rem #c0c0c0 solid;
    flex:1;
    color:#c0c0c0;
    padding:1;
    font-weight:bold;
}
.checkout-steps > div.active{
    border-top-color:#f08000;
   color:#f08000;
   
}