.main{
    padding: 1rem;
    width:100%;
}

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

}


.row.top{
    align-items:flex-start;
    margin-top: 1rem;
}

.col-1{
    flex:2 1 50rem;
}

.col-2{
    flex: 1 1 25rem;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.success{
    color: #20a020;
}
.danger{
    color: #a02020;
}
img.large{
    width:100%;
}