.card-skeleton{
    padding: 1rem;
    border:0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius:0.5rem;
    margin: 1rem; 
    width:29rem;
    
}

.card-img{
    max-width:29rem;
    margin-bottom: 1rem; 
    height: 50vh;
}

.card-info{
    margin-top: 2rem; 
    width:100%;
}
.card-name{
    padding: .1rem 0;
    margin-bottom: 1rem ;
}
