
.card{
border:0.1rem #c0c0c0 solid;
background-color: #f8f8f8;
border-radius:0.5rem;
margin: 1rem;
}

img{
    border-radius: .5rem;
    }

img.medium{
    max-width:29rem;
    width:100%;
}

.product-info{
    padding: 1rem;
}
.product-info > *{
    margin-bottom: .5rem;
}
.product-name{
    font-size: 1.9rem;
    padding: 1rem 0;
}
.product-price{
    font-size: 1.8rem;
}

.rating span{
    color:#f0c040;
    margin:0.2rem;
}
.rating span:last-child{
    color:#404040;
}